*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  color: rgb(5, 5, 5);
  font-size: 40px;
}



h5 {
  color: white;
}

p,
h2 {
  text-align: center;
  color: rgb(5, 5, 5);
  font-size: 20px;
}

form {
  background-color: rgba(49, 49, 74, 1);
  background-image: linear-gradient(108deg,
      rgba(49, 49, 74, 1) 37%,
      rgba(13, 43, 154, 1) 75%);
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
}


/* Boton WP */
.container boton {

  background-color: #2e6329;
  border: 1px solid #fff;
  position: relative;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  padding: 25px;
  transition: ease 0.3s;
  box-shadow: 0px 0px 10px #000;
  animation: efecto 1.2s infinite;

}

.container boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.boton {
  width: 80px;
  transition: ease 1s;
}


.navbar{
  background: #020024;
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(142, 14, 227, 1) 100%) !important;
}

.navbar a {
  color: #fff !important;
  text-decoration: none !important;
}

.Titulo2-index {
  background: #fff;
  color: black;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}




footer {
background-color: #343a40;
color: #ffffff;
text-align: center;
padding: 10px 0;
left: 0;
bottom: 0;
width: 100%;
box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}


/* responsive en dispositivos inferiores a 650px */

@media (max-width: 650px) {
  form {
    width: 90%;
  }

  .container boton {
    width: 60px;
    padding: 15px;
  }

  h1 {
    font-size: 30px;
  }

  p,
  h2 {
    font-size: 16px;
  }
}
