/*box-sizing*/
*, *:before, *:after {
    box-sizing: border-box;
    }

body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
line-height: 1.6;
background-color: #f4f4f4;
}
/* Contenedor principal */
.container {
display: flex;
flex-direction: column;
min-height: 100vh;
}
/* Navegación */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background: #333;
color: #fff;
padding: 20px 10px;
position: sticky;
}
.navbar h1 {
margin: 0;
}
.navbar ul {
list-style: none;
padding: 0;
display: flex;
}
.navbar ul a {
color: white;
text-decoration: none;
padding: 10px 15px;
transition: background 0.3s;
}
.navbar ul a:hover {
background: #575757;
}
/* Contenido principal */
.main-content {
display: flex;
flex: 1;
padding: 20px;
}
main {
flex: 3; /* Sección principal ocupa más espacio */
}
.sidebar {
flex: 1; /* Barra lateral ocupa menos espacio */
background: #e2e2e2;
padding: 20px;
border-left: 2px solid #333;
}
/* Estilo de encabezados */
h2, h3 {
color: #333;
}
/* Estilo para la sección de la barra lateral */
.sidebar h2 {
border-bottom: 2px solid #333;
padding-bottom: 10px;
}
/* Estilos para listas */
ol {
margin: 10px 0;
padding-left: 20px;
}
/* Pie de página */
.footer {
background: #333;
color: white;
text-align: center;
padding: 10px 0;
position: relative;
}
/* Responsividad */
@media (max-width: 768px) {
.main-content {
flex-direction: column;
}
.sidebar {
border-left: none;
border-top: 2px solid #333;
}

